.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #ff0000 0%, #565ea8 100%);
    box-shadow: 0 16px 14px 0 #006aff;
    padding: 18px 24px;
    max-width: 345px;
  }
  
  .image {
    margin-bottom: 26px;
  }
  
  .title {
    font-size: 25px;
    font-weight: 700;
  }
  
  .description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
  }
  
  .skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
  }
  
  .skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background:  #0b2447;
    padding: 2px 22px;
  }
  
  .links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
  }
  
  .link {
    text-decoration: none;
    color:  #fff;
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: #576cbc;
    padding: 1px 22px;
  }
 
  .collaborators {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff; /* Change color as needed */
}

.collaboratorLink {
  color: #51ff2e; 
  text-decoration: underline; 
  transition: text-shadow 0.3s ease; 
}

.collaboratorLink:hover {
  text-decoration: none; 
  text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 15px #00f; /* Glow effect */
}