footer {
    background-color: blueviolet; /* Example background color */
    text-align: center;
    height: 5%;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;

}

.footer-images {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.footer-images img {
    width: 50px; 
    height: auto; 
}


/* trying a sticky footer technique*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.content {
    flex: 1; 
    padding: 20px;
}
