.App {
  background-color: #04152d ;
  width: 100%;
  height: 50%;
  overflow: hidden;
  min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
  display: flex; /* Use flexbox to align items */
  flex-direction: column; /* Arrange children in a column */
}

main {
  flex: 1; /* Allow the main content area to grow and fill the available space */
  display: flex; /* Use flexbox for the content */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  padding: 20px; /* Add some padding around the content */
}