.customCursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(47, 0, 255, 0.5);
    border-radius: 60%;
    pointer-events: none; /* Prevents interference with other elements */
    transform: translate(-50%, -50%); 
    transition: background-color 0.3s smooth; 
    z-index: 9999; 
}